<div>
  <label>Works</label>
  <kendo-dropdownlist
    [valuePrimitive]="true"
    [data]="data"
    [valueField]="'id'"
    [textField]="'name'"
    [kendoDropDownFilter]="filterSettings"
    [(ngModel)]="model"
    (ngModelChange)="valueChange($event)"
  ></kendo-dropdownlist>
</div>

<div>
  <label>Doesn't work</label>
  <kendo-dropdownlist
    [valuePrimitive]="true"
    [data]="data"
    [valueField]="'id'"
    [kendoDropDownFilter]="filterSettings"
    [textField]="'name'"
    [(ngModel)]="model"
    (ngModelChange)="valueChange($event)"
  ></kendo-dropdownlist>
</div>
