<div>
  <label>Works</label>
  <kendo-dropdownlist
    [valuePrimitive]="true"
    [data]="data"
    [valueField]="'id'"
    [textField]="'name'"
    [kendoDropDownFilter]="filterSettings"
    [(ngModel)]="model"
    (ngModelChange)="valueChange($event)"
  ></kendo-dropdownlist>
</div>
<kendo-stockchart>
  <kendo-chart-series>
    <kendo-chart-series-item
      type="line"
      style="smooth"
      [markers]="{ visible: false }"
      [data]="[]"
      field="value"
      categoryField="date"
      aggregate="max"
    >
    </kendo-chart-series-item>
  </kendo-chart-series>
</kendo-stockchart>

<div>
  <label>Doesn't work</label>
  <kendo-dropdownlist
    [valuePrimitive]="true"
    [data]="data"
    [valueField]="'id'"
    [kendoDropDownFilter]="filterSettings"
    [textField]="'name'"
    [(ngModel)]="model"
    (ngModelChange)="valueChange($event)"
  ></kendo-dropdownlist>
</div>
